In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a DataFrame of frames using a dictionary of lists.
paintings = {"Painting" : ["Mona Lisa (Knockoff)", "Van Gogh (Knockoff)", "Starving Artist", "Toddler Drawing"],
             "Price" : [25, 20, 10, 1], "Popularity" : ["Very Popular", "Popular", "Average", "Not Popular"]}


painting_data = pd.DataFrame(paintings)
painting_data

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

In [4]:
# Create a DataFrame from a list of dictionaries.
frame_df = pd.DataFrame([{"Frame" : "Orante", "Price" : 15, "Sales" : 100},{"Frame" : "Classical", "Price" : 12.5, "Sales" : 200},
                        {"Frame" : "Modern", "Price" : 10, "Sales" : 150},{"Frame" : "Wood", "Price" : 5, "Sales" : 300},
                        {"Frame" : "Classical", "Price" : 1, "Sales" : "N/A"}])
frame_df

       Frame  Price Sales
0     Orante   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Classical    1.0   N/A